/* RESET */

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

ul, ol{
  list-style: none;
}

header{
  display: contents;
}

/* UTILITIES */

/* BKG */
.ms_bg-black{
  background-color: black;
}

.ms_bg-white{
  background-color: white;
}

.ms_bg-red{
  background-color: #CD3D10;
}

.ms_bg-dgray{
  background-color: #363636;
}

.ms_bg-lblack{
  background-color: #1F1F1F;
}

.ms_bg-blue{
  background-color: #00439C;
}

.ms_bg-sand{
  background-color: #BEBCBB;
}

.ms_bg-lsand{
  background-color: #D9DADC;
}

.ms_bg-nightblue{
  background-color: #151C3B;
}

.ms_bg-darkwhite{
  background-color: #F5F5F5;
}

/* TEXT-COLOR */

.ms_text-gray{
  color: #717171;
}

.ms_text-blue{
  color: #2D64E6;
}



/* STILI */

/* NAVBAR */
.sony-logo a{
  display: flex;
  align-items: center;
  width: 80px;
}

.nav-item.ms_text-gray:hover{
  color: black;
  transition: all 0.2s ease-in-out;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
}

.fa-chevron-down{
  font-size: 12px;
  color: #999999;
}

.lens{
  width: 25px;
}

.dropdown-menu li{
  text-align: center;
}

.list-dropdown{
  list-style: disc;
}

/* JUMBOTRON */

.jumbo{
  min-height: 590px;
  background-image: url("img/jumbo-bg.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbo-2{
  min-height: 590px;
  background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbo_game-title{
  max-width: 200px;
}

/* MAIN */

.wrap-image-game{
  border: 2px solid transparent;
  padding: 2;
}

.image-wrap.gold:hover{
  transform: scale(1.10);
  box-shadow: 2px 2px 10px gold;
  transition: all 0.2s ease-in-out;
}

.image-wrap.silver:hover{
  transform: scale(1.10);
  box-shadow: 2px 2px 10px silver;
  transition: all 0.2s ease-in-out;
}

.wrap-image-game, .image-wrap{
  overflow: hidden;
  border-radius: 10px;
}

.thumb-translate:hover .wrap-image-game, .wrap-image-game.active{
  border: 2px solid #2D64E6;
}

.thumb-translate:hover .wrap-image-game{
  box-shadow: 0 9px 6px #363636;
  transform: translate(0,-15px);
  transition: all 0.3s ease-out;
}

.thumb-translate:hover .wrap-image-game img, .wrap-image-game.active img{
  border-radius: 10px;
  padding: 2px;
}

.products [class*="col"] {
  opacity: 0.5;
}

.products [class*="col"]:hover, .products .active{
  opacity: 1;
  border-bottom: 2px solid #2D64E6;
  transition: opacity 0.2s ease-in-out;
}

.logo-plus{
  max-width: 400px;
}

/* FOOTER */

footer .col-lg-2 li{
  margin: 5px 0;
  white-space: nowrap;
}

footer .col-lg-2 li a{
  text-decoration: none;
  color: white;
}

footer .col-lg-2 li a:hover{
  text-decoration: underline;
}

.logo-sie{
  width: 130px;
  margin-bottom: 10px;
}

.copyright{
  font-size: 10px;
  font-weight: bold;
}

.copyright a{
  color: currentColor;
  text-decoration: underline;
}